<div>
  <div>
    <div
      class="flex items-center lg:flex-row flex-col justify-center"
      id="cart"
    >
      <div
        class="lg:w-1/2 md:w-8/12 w-full lg:px-8 lg:py-14 md:px-6 px-4 md:py-8 py-4 bg-white overflow-y-auto overflow-x-hidden lg:h-screen h-auto"
        id="scroll"
      >
        <p
          class="lg:text-4xl text-3xl font-black leading-10 text-gray-800 pt-3"
        >
          Bag - {{ cartCount }} Products
        </p>
        <div
          class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50"
          *ngFor="let cartItem of cartItemsDetails"
        >
          <div class="md:w-4/12 2xl:w-1/4 w-full">
            <img
              [src]="cartItem.product.image"
              alt="Black Leather Bag"
              class="h-full object-center object-cover md:block hidden"
            />
            <img
              src="https://i.ibb.co/g9xsdCM/Rectangle-37.pngg"
              alt="Black Leather Bag"
              class="md:hidden w-full h-full object-center object-cover"
            />
          </div>
          <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
            <p class="text-xs leading-3 text-gray-800 md:pt-0 pt-4">
              {{ cartItem.product.category.name }}
            </p>
            <div class="flex items-center justify-between w-full pt-1">
              <p class="text-base font-black leading-none text-gray-800">
                {{ cartItem.product.name }}
              </p>
              <input
                [min]="1"
                matInput
                type="number"
                [(ngModel)]="cartItem.quantity"
                (ngModelChange)="updateCartItemQty($event, cartItem)"
              />
            </div>
            <div class="flex items-center justify-between pt-5">
              <div class="flex itemms-center">
                <p
                  (click)="deleteCarItem(cartItem.product.id)"
                  class="text-xs leading-3 underline cursor-pointer text-red-500"
                >
                  Remove Product
                </p>
              </div>
              <p class="text-base font-black leading-none text-gray-800">
                {{ cartItem.product.price * cartItem.quantity | currency }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-96 md:w-8/12 w-full bg-gray-100 h-full">
        <div
          class="flex flex-col lg:h-screen h-auto lg:px-8 md:px-7 px-4 lg:py-20 md:py-10 py-6 justify-between overflow-y-auto"
        >
          <div>
            <p class="lg:text-4xl text-3xl font-black leading-9 text-gray-800">
              Summary
            </p>
            <div class="flex items-center justify-between pt-16">
              <p class="text-base leading-none text-gray-800">Subtotal</p>
              <p class="text-base leading-none text-gray-800">
                {{ totalPrice | currency }}
              </p>
            </div>
            <div class="flex items-center justify-between pt-5">
              <p class="text-base leading-none text-gray-800">Shipping</p>
              <p class="text-base leading-none text-gray-800">$0</p>
            </div>
            <div class="flex items-center justify-between pt-5">
              <p class="text-base leading-none text-gray-800">Tax</p>
              <p class="text-base leading-none text-gray-800">$0</p>
            </div>
          </div>
          <div>
            <div class="flex items-center pb-6 justify-between lg:pt-5 pt-20">
              <p class="text-2xl leading-normal text-gray-800">Total</p>
              <p
                class="text-2xl font-bold leading-normal text-right text-gray-800"
              >
                {{ totalPrice | currency }}
              </p>
            </div>
            <button
              (click)="navigateToCheckout()"
              class="text-base leading-none w-full py-5 bg-gray-800 border-gray-800 border  text-white"
            >
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
