<div class="flex w-full items-center py-12 px-8 justify-center">
  <div>
    <div
      class="max-w-lg h-64 flex flex-col justify-between bg-white rounded-lg border border-gray-400 mb-6 py-5 px-4"
    >
      <div>
        <h1 class="text-gray-800 font-bold text-center text-3xl">
          Your Order Is Confirmed
        </h1>
      </div>
      <div class="flex justify-center">
        <img src="assets/checked.png" alt="" class="w-20" />
      </div>
      <div class="flex justify-center">
        <button
          routerLink="/order-list"
          class="text-base leading-none w-1/2 py-3 bg-gray-800 border-gray-800 text-white"
        >
          Go to Order Page
        </button>
      </div>
    </div>
  </div>
</div>
